{{ define "main" }}
<div class="w-full max-w-4xl lg:max-w-5xl">
  <div class="flex flex-col gap-y-3 p-6 mt-6 mx-2 md:mx-0 rounded-lg shadow-md bg-white dark:bg-gray-700">
    <h1 class="text-4xl font-semibold text-slate-800 dark:text-slate-100">
      <a href="{{ .RelPermalink }}">{{ .Title | .RenderString }}</a>
    </h1>

    {{- /* with .Description */ -}}
  {{- /* <h2>{{ . | $.Page.RenderString }}</h2> */ -}}
{{- /* end */ -}}

    {{ partial "block/taxonomies.html" .}}

    {{ partial "block/time.html" . }}
    
    {{ if or .Params.Toc $.Site.Params.Toc }}
      {{ if ne .Params.Toc false }}
      <section class="prose prose-slate dark:prose-invert w-full max-w-4xl lg:max-w-5xl mt-6">
        <h2>{{ T "table_of_contents" }}</h2>
        <aside>{{ .TableOfContents }}</aside>
      </section>
      {{ end }}
    {{ end }}

    <article class="mt-6 w-full max-w-4xl lg:max-w-5xl prose prose-slate dark:prose-invert prose-quoteless post-content">
      
      <center>
      
        <!-- admitad.banner: 788gtwfixt450828310816525dc3e8 AliExpress WW -->
<a target="_blank" rel="nofollow" href="https://wextap.com/g/788gtwfixt450828310816525dc3e8/?i=4"><img width="728" height="90" border="0" src="https://ad.admitad.com/b/788gtwfixt450828310816525dc3e8/" alt="AliExpress WW"/></a>
<!-- /admitad.banner -->
      </center>
      
      {{ .Content | safeHTML }}
  
    </article>
    <div class="sharethis-inline-share-buttons"></div>
    {{ partial "sharethis_buttons.html" }}
    {{ if not .Params.noComment }}
    {{ partial "comments.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}
